
.quest{
color: green;
width: 30rem;
font-size: 28px;
margin-left: 400px;
}

li a {
    color: green;
}

body{
	background: white url("images/backgrounds.jpg") no-repeat right bottom;
	padding-left: 
}
h3{
	color: green;
	font-family: sans-serif;
}

